{% load static %}

<!-- Registro de usuarios con los parametros de nombre, apellidos, correo, contraseña y huella dactilar -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form id="registro-form" method="POST" action="{% url 'guardar_registro' %}">
        {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="apellidos" placeholder="Apellidos" required>
        <input type="email" name="correo" placeholder="Correo" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="button" id="btn-escanear" value="Escanear Huella">
        <input type="hidden" id="huella-input" name="template_huella">
        <p id="mensaje-estado"></p>
        <button type="submit" id="btn-guardar" disabled>Registrarse</button>
    </form>

    <script src="{% static 'Cuentas/js/registro.js' %}"></script>
</body>
</html>